{# src/SearchBundle/Resources/views/Search/search.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title> Buscador </title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<style>
			fieldset.scheduler-border {
			    border-bottom: 2px groove #ddd;
			}		
			div.input-group{
				margin-top:15px;
			}   
			table{
				margin-left: 125px;
			}

		</style>
	</head>
	<body style="margin:10px">
			{{ form_start(form, {'class': 'form-horizontal'}) }}
	  			<fieldset class="scheduler-border col-sm-12">
	  				<div class="col-sm-1">
	  					<img width="70px" src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/youtube-128.png"/>
	  				</div>
	  				<!-- input search -->
				     <div class="form-group col-sm-6">
				        <div class="input-group">			       
			         		{{ form_widget(form.search, {'attr': {'class': 'form-control'}}) }}
		         			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>	
		         		</div>			        
				    </div>
	    		</fieldset>
		   {{ form_end(form) }}

		   {# if youtube_videos == true #}		   	
		   <div class="videos">
				{% for video in youtube_videos %}
				<table>
				 <tr> 
				    <td rowspan="5"><img src="{{video.url_img}}" /></td>
				  </tr>
				  <tr>
				  	<th> <h3> {{video.title}}</h3></th>
				  </tr>
				  <tr>	
				  	<td> <strong> Canal: </strong>{{video.canal}}</td>
				  </tr>
				  <tr>
				  	<td> <strong> Fecha: </strong> {{video.fecha|date("m/d/Y")}}</td>
				  </tr>

				 </table>
				 
				{% endfor %}
			</div>
		   {# endif #}		   
	</body>
</html>